// Place all the styles related to the Gotchas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding-top: 10px;
}

.full-width {
  width: 100%;
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}
.footer p {
  margin-bottom: 0;
  color: #555;
}

a:hover {
  text-decoration: none !important;
}

.gotchas .lead {
  margin: 20px 0px 9px 0px;
}

.opaque-icon {
	opacity: 0.1 !important;
}

.no-margins {
  margin: 0 !important;
}