<!DOCTYPE html>
<html lang="en">
<head>
  <title>ProgrammingGotchas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
  <footer class="footer">
  <p>Frantic</p>
</footer>
</div>

</body>
</html>
